Build/
/KAIN2/Tools/ShiftDecompiler/*
/KAIN2/*.filters
/Build/*
/Build/Build_Emscripten/*
/Build/Build_EMSDK/*
/Build/Build_UWP/*
/Build/Build_Durango/*
/Build/Build_PSP2/*
/Build/Build_NX_Win/*
/Build/Build_NX_Arm/*
/Build/Build_Linux/*
/Build/Build_Win32/*
Emulator/Shaders/D3D9/*.h
Emulator/Shaders/D3D11/*.h
Emulator/Shaders/D3D12/*.h
Emulator/Shaders/Vulkan/*.h
Emulator/Shaders/GXM/*.gxp
Emulator/Shaders/GXM/*.gxp.obj
Emulator/Shaders/GXM/*.sdb
Emulator/Shaders/NVN/*.bnsh
/Binaries/*
/External/*

/.vs/*