Build/
External/

/kain2/*.filters
/Build_Emscripten/*
/Build_EMSDK/*
/Build_UWP/*
/Build_Durango/*
/Build_PSP2/*
Emulator/Shaders/D3D9/*.h
Emulator/Shaders/D3D11/*.h
Emulator/Shaders/D3D12/*.h
Emulator/Shaders/Vulkan/*.h
/Binaries/*
*.gxp.obj
*.gxp
*.sdb