Build/
External/

/kain2/*.filters
/Build_Emscripten/*
/Build_EMSDK/*
/Build_UWP/*
/Build_Durango/*
/Build_PSP2/*
/Build_NX_Win/*
/Build_NX_Arm/*
Emulator/Shaders/D3D9/*.h
Emulator/Shaders/D3D11/*.h
Emulator/Shaders/D3D12/*.h
Emulator/Shaders/Vulkan/*.h
Emulator/Shaders/GXM/*.gxp
Emulator/Shaders/GXM/*.gxp.obj
Emulator/Shaders/GXM/*.sdb
Emulator/Shaders/NVN/*.bnsh
/Binaries/*