[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/preprocessor"]
	path = External/preprocessor
	url = https://github.com/boostorg/preprocessor.git
