[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/glew-cmake"]
	path = External/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
